@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  position: relative;
}
header .dropdown {
  display: none;
}
header hr {
  color: #000000;
  border: 1px solid;
  width: 100%;
}
header .pages {
  list-style-type: none;
  height: 70px;
  width: 100%;
  margin: 15px 5px;
  padding: 10px;
  background: #d353f3;
  color: rgb(230, 86, 230);
  position: relative;
}
header ul {
  text-align: center;
  display: flex;
}
header ul li {
  float: left;
  overflow: hidden;
}
header ul li a {
  color: rgb(255, 255, 255);
  display: block;
  padding: 12px 10px;
  text-decoration: none;
}
header ul li A:hover {
  background-color: #040404;
}
header p {
  max-width: 120rem;
  margin: 2;
  text-align: left;
}
header .link1 img {
  width: 25px;
  height: 25px;
}

footer {
  background: #d353f3;
  color: rgb(230, 86, 230);
  width: 98%;
  margin: 15px 0px;
  text-align: center;
  position: absolute;
  bottom: 0;
}
footer hr {
  color: #000000;
  border: 1px solid;
  width: 98%;
}
footer ul {
  text-align: center;
  display: flex;
}
footer ul li {
  float: left;
  overflow: hidden;
}
footer ul li a {
  color: rgb(255, 255, 255);
  display: block;
  padding: 12px 10px;
  text-decoration: none;
}
footer ul li A:hover {
  background-color: #040404;
}
footer .link_footer img {
  width: 25px;
  height: 25px;
  margin: 0px 15px 0px;
}
footer .derechos_de_autor {
  color: #000000;
  font-size: 15px;
}

/*tipografía de inicio*/
.content {
  display: flex;
  align-items: center;
}
.content img {
  padding: 5px;
  width: 100%;
  height: 100%;
}
.content p {
  padding: 0px 20px 30px;
  font-size: 20px;
  width: 100%;
  height: 100%;
}

/*tipografia de sobre nosotros*/
.característica {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.característica p {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
.característica img {
  font-size: 1fr;
  height: 100%;
  width: 100%;
}
.característica .característica1 {
  grid-column: 1;
  grid-row: 1;
}
.característica .característica2 {
  grid-column: 2;
  grid-row: 1;
}
.característica .característica3 {
  grid-column: 3;
  grid-row: 1;
}
.característica .característica4 {
  grid-column: 4;
  grid-row: 1;
}
.característica .característica5 {
  grid-column: 4;
  grid-row: 2;
}
.característica .característica6 {
  grid-column: 3;
  grid-row: 2;
}
.característica .característica7 {
  grid-column: 2;
  grid-row: 2;
}
.característica .característica8 {
  grid-column: 1;
  grid-row: 2;
}

/*tipografia de productos*/
.todo_productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}
.todo_productos .productos1 {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
.todo_productos .productos1 li {
  list-style-type: none;
}
.todo_productos .productos1 li img {
  padding: 10px;
  height: 100%;
  width: 80%;
}
.todo_productos .productos2 {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
.todo_productos .productos2 li {
  list-style-type: none;
}
.todo_productos .productos2 li img {
  padding: 10px;
  height: 100%;
  width: 80%;
}

.Mayotista {
  padding: 10px;
  margin: 20px;
}
.Mayotista h4 {
  padding: 10px 0px 0px 0px;
  font-size: 36px;
  text-align: left;
}
.Mayotista p {
  padding: 10px 0px 0px 0px;
  font-size: 20px;
  text-align: left;
}

.Boton_productos a {
  color: #040404;
  text-decoration: none;
  text-align: center;
  border: 2px solid #000000;
  padding: 10px 20px;
  border-radius: 5px;
  align-items: center;
}

/*tipografia de micuenta*/
.contacto {
  display: flex;
  justify-content: center;
  text-align: left;
}
.contacto .contacto_map {
  width: 100%;
  height: 500px;
  padding: 0px 15px;
}
.contacto .contacto_info {
  display: flex;
  flex-direction: column;
  padding: 0px 60px;
}
.contacto .contacto_info p {
  padding: 10px 0px 0px;
  font-size: 18px;
  text-align: left;
}
.contacto .contacto_info img {
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 25px;
}

.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.formulario {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 10px 15px;
  margin: 0px 10px;
}
.formulario a {
  color: #000000;
  text-decoration: none;
  text-align: center;
}
.formulario .formulario1 {
  color: #040404;
  text-decoration: none;
  text-align: center;
  border: 2px solid #000000;
  padding: 10px 20px;
  border-radius: 5px;
  align-items: center;
}
.formulario .formulario2 {
  color: #040404;
  text-decoration: none;
  text-align: center;
  border: 2px solid #000000;
  padding: 10px 20px;
  border-radius: 5px;
  align-items: center;
}

input {
  color: #040404;
  text-decoration: none;
  text-align: left;
  border: 2px solid #000000;
  padding: 10px 20px;
  border-radius: 5px;
  align-items: center;
  justify-content: flex-start;
}

/*tipografia de preguntas frecuentes*/
.pf {
  margin: 20px 10% 0px;
  width: 90%;
}
.pf h3 {
  margin: 25px 0px 0px;
  font-size: 24px;
  text-align: left;
  font-style: italic;
  word-wrap: break-word;
}
.pf p {
  font-size: 18px;
  text-align: left;
  word-wrap: break-word;
}
.pf .Pago {
  font-size: 18px;
  text-align: left;
  word-wrap: break-word;
}

/* Small devices (landscape phones, 576px and up) */
@media (width <= 567px) {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    width: 100%;
    height: 100%;
    padding: 0px 0px;
    background: linear-gradient(318deg, rgb(252, 40, 222) 0%, rgb(203, 177, 251) 100%);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }
  header {
    display: table-row-group;
    flex-direction: row;
  }
  header .pages {
    display: none;
  }
  header .dropdown {
    display: block;
    margin: 5px 0px;
    align-items: left;
    font-size: 15px;
    width: 50px;
    height: auto;
  }
  header .dropdown li {
    float: left;
  }
  header .dropdown li a {
    color: rgba(232, 0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    flex-direction: row;
    background-size: auto;
    color: rgb(230, 86, 230);
  }
  header .dropdown li A:hover {
    background-color: #bc52b5;
  }
  footer {
    max-width: 98%;
  }
  footer .pages {
    display: none;
  }
  /* index */
  header {
    display: table-row-group;
    flex-direction: row;
  }
  .content {
    display: list-item;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
  }
  .content img {
    position: relative;
    margin: 0;
    padding: 10;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .content p {
    max-width: 30rem;
    margin: 0;
    text-align: center;
    justify-content: normal;
    padding: 10px;
    font-size: 20px;
    font-family: Verdana, Calibri, sans-serif;
  }
  /* sobre nosotros */
  .característica {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
  }
  .característica p {
    max-width: 50rem;
    margin: 0 auto;
    text-align: justify;
    text-align: center;
    width: 100%;
    height: 50%;
    margin: 10px;
    padding: 10;
    font-size: 18px;
    font-family: Verdana, Calibri, sans-serif;
  }
  .característica img {
    font-size: 1fr;
    min-height: 400px;
  }
  /* productos */
  .todo_productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
  }
  .todo_productos .productos1 {
    display: flex;
    flex-direction: column;
    margin: 1% 5%;
  }
  .todo_productos .productos2 {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 5%;
  }
  .Mayotista {
    padding: 5px;
    text-align: center;
  }
  .Mayotista p {
    padding: 10px 0px 20px 0px;
    font-size: 18px;
    text-align: center;
  }
  /*contacto*/
  .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contacto_map {
    width: 400px;
    height: 450px;
    padding: 0px 0px 500px;
  }
}
@media (width < 750px) {
  /* index */
  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }
  .content img {
    position: relative;
    margin: 10px;
    width: 90%;
    height: 90%;
    align-items: center;
  }
  .content p {
    position: relative;
    max-width: 30rem;
    margin: 0px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-family: Verdana, Calibri, sans-serif;
  }
  /* sobre nosotros */
  .característica {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
  }
  .característica p {
    max-width: 50rem;
    margin: 0 auto;
    text-align: justify;
    text-align: center;
    width: 100%;
    height: 50%;
    margin: 10px;
    padding: 10;
    font-size: 18px;
    font-family: Verdana, Calibri, sans-serif;
  }
  .característica img {
    font-size: 1fr;
    min-height: 400px;
  }
  /*contacto*/
  .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contacto_map {
    width: 400px;
    height: 450px;
    padding: 0px 0px 500px;
  }
}
html {
  font-size: 100%;
  box-sizing: border-box;
}
html body {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  position: relative;
  padding-bottom: 12em;
  min-height: 100vh;
  background: linear-gradient(318deg, rgb(252, 40, 222) 0%, rgb(203, 177, 251) 100%);
  background-repeat: no-repeat;
}
html body .a_inicio a {
  text-decoration: none;
}
html body h1 {
  color: #000000;
  font-family: "Alex Brush";
  text-align: left;
}
html body h2 {
  color: #ff00b3;
  font-family: Verdana, Calibri, sans-serif;
  font-size: 28px;
  text-align: center;
}
html body h3 {
  color: #ff0000;
  font-family: Verdana, Calibri, sans-serif;
  font-size: 25px;
}
html body h4 {
  color: #000000;
  font-size: 22px;
}/*# sourceMappingURL=style.css.map */