
$color_backdrop:(318deg, rgb(252, 40, 222) 0%, rgb(203, 177, 251) 100%);
$color_page_background:#d353f3;
$color_page:rgb(230, 86, 230);
$color_a:rgb(255, 255, 255);
$color_negro: #000000;
$color_rosa:#ff00b3;
$color_rojo:#ff0000;
$hover_phone:#bc52b5;
$background-color: #040404;