@import'color';
footer {
    background:$color_page_background;
    color:$color_page;
	width: 98%;
	margin: 15px 0px;
    text-align:center;
    position: absolute;
    bottom: 0;
    hr{
        color: $color_negro;
        border: 1px solid;
        width: 98%;
    }
    ul {
        text-align: center;
        display: flex;
        li {
            float: left;
            overflow: hidden;
            a {
                color: $color_a;
                display: block;
                padding: 12px 10px;
                text-decoration: none;
            }
            A:hover{
                background-color: $background-color;
            }
        }
    }
    .link_footer img{
        width: 25px;
        height: 25px;
        margin:0px 15px 0px;
    }
    .derechos_de_autor {
        color: $color_negro;
        font-size: 15px;
    }
}